<ion-menu contentId="menu-content" menuId="menu-content" side="start" >

  <app-header title="Menu">

  </app-header>
  <ion-content>
    

      <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
        <ion-item [ngClass]="{'active': currentPath === p.url}" [routerLink]="p.url" routerDirection="root" detail>
          <ion-icon slot="start" [name]="p.icon"></ion-icon>
          <ion-label>{{p.title}}</ion-label>
        </ion-item>
      </ion-menu-toggle>



  </ion-content>

  <ion-footer class="ion-no-border safe-p-bottom">
    <ion-menu-toggle auto-hide="false">
      <ion-item (click)="signOut()" lines="none">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        <ion-label>Cerrar Sesion</ion-label>
      </ion-item>
    </ion-menu-toggle>


  </ion-footer>
</ion-menu>

<ion-router-outlet id="menu-content" main ></ion-router-outlet>