<app-header [showMenu]="true" title="Perfil"></app-header>

<ion-content class="ion-padding-top ion-text-center">
  <div style="display: flex; justify-content: center;">
    <ion-avatar>
      <img *ngIf="user()?.image" [src]="user()?.image" />
      <ion-icon *ngIf="!user()?.image" class="empty-icon" name="person-circle-outline"></ion-icon>
    </ion-avatar>
  </div>

  <ion-button class="photo-btn" (click)="takeImage()" mode="ios" size="small" shape="round">
    <ion-icon name="camera-outline"></ion-icon>
  </ion-button>
  <h2> {{user().name}} </h2>
  <div>Vendedor</div>

  <ion-item button detail >
    <ion-icon slot="start" name="person-outline"></ion-icon>
    <ion-label>Editar Perfil</ion-label>
  </ion-item>

  <ion-item button detail >
    <ion-icon color="primary" slot="start" name="document-outline"></ion-icon>
    <ion-label>Terminos & Condiciones</ion-label>
  </ion-item>
  
</ion-content>